<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>Emailed</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Emailed</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>Shared</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Shared</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>Viewed</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Viewed</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>Favorites</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Favorites</string>
		</dict>
	</array>
</dict>
</plist>
